<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<%= tag :meta, :name: "viewport", content: "width=device-width, initial-scaole=1.0" %>

</head>
<body>
	<%= render 'layouts/header' %>

	<%= yield %>

	<%= render 'layouts/footer' %>


<%= yield %>

</body>
</html>
